@media only screen and (max-width: 780px){

html	body {
	background-color: #202225;
}

.Wrapper {
	min-width:50%;
  margin: 0px;
  position: relative;	
}

.container {  /*#463fc6  #fd11ff*/
  width:480px;
}

.nav {
  background-color: #292c2f;
  width:480px;
}

.item1 {
  width: 480px;
}

#query_img {
  width: 70%;
  height: 50px;
  display: inline-block;
}

#logo_query {
  width: 25%;
  height: 69px;
  margin-left: 20%;
}

.flame_img {
  width: 20px;
  height: 20px;
}

.top-menu {
  width: 480px;
}

.item2 {
  width: 0px;
  height: 0px;
  display: none;
}

.info {
  margin-top: -15px;
  padding-top: 5px;
  
}


.content {
  margin-top: 70px;
  width: 480px; 
}

.btn2 {
  font-weight: 600;
  margin-left: 260px;
  position: relative;
  width: 150px;
  height: 30px;
  margin-top: 50px;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(to left, #ff11ff, #5b53ff);
}


