html, body, {
	margin: 0px;
}

::-webkit-scrollbar { width: 3px; height: 10px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: gray;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}

.wrapper {
	color: white;
}

.map {
	margin-top: 2%;
	overflow-y: scroll;
    width: 100%;
    height: 540px; 
    padding: 5px;
    position: absolute;
}

.buttons {
	width: 100%;
	height: 100px;
	background: black;
	position: fixed;
	z-index: 99;
	margin-top: 40%;
}

@font-face {
  font-family: 'Minecraft';
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot');
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot?#iefix') format('embedded-opentype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.woff') format('woff'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf')  format('truetype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.svg#svgFontName') format('svg');
}

.button {
  height: 40px;
  width: 90px;
  outline: 2px solid black;
  position: relative;
  margin: 0;
  display: inline-block;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 16px;
}

.button span {
  position: relative;
  line-height: 40px;
  bottom: 3px;
}

.button:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
  color: #FFFFA0;
}

@media only screen and (max-width: 780px) {
	.buttons {

	margin-top: 95%;
}
}