@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar|Source+Sans+Pro&display=swap');

html, body {
	background: #14171a;
	color: silver;
	font-family: 'Roboto Condensed';
	font-size: 20px;
	margin: 0 auto; 
}

.naw {
	width: 100%;
	height: 60px;
	background: #0c1013;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	position: absolute;
	z-index: 999;
}

.auth {
	margin-top: -45px;
	float: right;
}

.auth_link {
	color: silver;
	text-decoration: none;
}

.auth_link:hover {
	color: white;
	text-decoration: none;
}

.dd {
	display: flex;
	margin-left: -10px;
}

.card_items {
	color: gray;
	margin-left: 30px;
	margin-top: 15px;
}

.item {
	
	margin-top: 40px;
	width: 97%;
	height: 250px;
	background: #0c1013;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.card_content {
	margin-top: 10px;
	display: block;
	margin-left: 20px;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}

#content {
	height: auto;
}

#side_bar {
	background: #1e2225;
	height: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#stats {
	color: #1faa2c;
}

.main_bar {
	font-family: 'Anton', sans-serif;
	color: silver;
	font-size: 20%;
}

.border_grad {
	width: 100%;
	height: 5px;
  	background: linear-gradient(to left, #ff11ff, #5b53ff);
}

/*rainbow*/
.rainbow {
    font-family: 'Roboto Condensed';
    text-decoration: underline;
    
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

#content {
	height: 200px;
	background: black;
}

.back_content {
	margin-left: -24%;
	width: 180%;
	height: 25%;
	background-image: url('https://cdn.discordapp.com/attachments/466314747281801228/676747301028626442/unknown.png');
}

#showHideContent {
	display:none;
	margin: 15px;
}

#hov:hover {
	color: gray;
}

#links {
	margin-top: 15px;
	margin-left: 30px;
	text-decoration: none;
	color: silver;
}

#links:hover {
	color: white;
}

.stats {
	display: flex;
}

.item2 {
	color: #e02828;
	margin-left: 4%;
}
.item3 {
	color: #2370e3;
	margin-left: 8%;
}
.item4 {
	color: #6d12cc;
	margin-left: 8%;
}

.categorie_links {
	font-family: 'Roboto Condensed';
	font-size: 24px;
	width: 100%
	margin-left: -10px;
}

.categorie_links:hover {
	background: #14171a;
}

.news {
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

.news_links:hover {
	background: #14171a;
}

.item_mobile {
	display: none;
}

@media only screen and (max-width: 1s11px) {
.back_content {
	margin-left: 0%;
	width: 100%;
	height: 20%;
	background-image: url('https://cdn.discordapp.com/attachments/466314747281801228/676747301028626442/unknown.png');
}

.item_mobile {
	margin-top: 30px;
	display: none;
	width: 100%;
	height: 400px;
	background: #0c1013; 
}


.card_img {
	width: 100%;
	height: auto;
}

.item {
	display: block;
}

.card_content {
	display: none;
	margin-left: 20px;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}
}


.pulse {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #cb5615;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(304,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(304,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(304,169,44, 0);
      box-shadow: 0 0 0 10px rgba(304,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(304,169,44, 0);
      box-shadow: 0 0 0 0 rgba(304,169,44, 0);
  }
}
}

@media only screen and (max-width: 780px) {
#marquee {
	display: none;
}

.menu {
	display: none;
}
.back_content {
	margin-left: 0%;
	width: 100%;
	height: 20%;
	background-image: url('https://cdn.discordapp.com/attachments/466314747281801228/676747301028626442/unknown.png');
}

.item {
	display: none;
}

.logo {
	text-align: center;

}

#showHideContent {
	margin-top: -50px;
	display: block;
}

#content_main {
	width: 100%;
}

#side_bar {
	display: none;
}
}


@media only screen and (max-width: 1024px) {
.back_content {
	margin-left: 0%;
	width: 100%;
	height: 20%;
	background-image: url('https://cdn.discordapp.com/attachments/466314747281801228/676747301028626442/unknown.png');
}

.logo {
	text-align: center;

}

#showHideContent {
	margin-top: -50px;
	display: block;
}

#marquee {
	display: none;
}

.menu {
	display: none;
}

.card_img {
	width: 100%;
	height: auto;
}

.item {
	display: none;
}

.card_content {
	display: none;
	margin-left: 20px;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}
}


.pulse {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #cb5615;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(304,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(304,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(304,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(304,169,44, 0);
      box-shadow: 0 0 0 10px rgba(304,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(304,169,44, 0);
      box-shadow: 0 0 0 0 rgba(304,169,44, 0);
  }
}



a {
	position: relative;
	color: silver; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #00a650; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
	text-decoration: none;
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}